
*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%,url(foods.jpg));
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-image: url(/Photos/Banku\ and\ tilapia.jpg);
          
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(219, 23, 226);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 10px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 14px;

}

ul a li{
    color: rgb(3, 3, 3);
    font-weight: bold;
    text-align: center;
    background-color: rgb(175, 146, 182);
    margin-left: 50px;
    margin-right: 50px;
}

ul a li:hover{

    font-size: large;
    color: blue;

}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: o.4s ease-in-out;
}

ul li a:hover{
    color: white;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid pink;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: pink;
    border: 2px solid pink;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


.note{
    font-style: italic; font-size: 20px;
    border: 10px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 200px;
    color: rgb(83, 15, 81);
    text-align: center;
    line-height: 50px;
    background-color: rgb(182, 149, 168);
}

.foods{
    font-size: 100px;
    font-weight: bold;
    color: black;
    background-color:black

}







